<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for your order!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <p>
          Payment Successful!
          Thank you for your purchase. Your payment has been successfully processed.
        </p>
        <form action="/create-portal-session?session_id=<%-sessionid%>" method="POST">
          <input type="hidden" id="session-id" name="session_id" value="<%-sessionid%>" />
          <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
        </form>
      </section>
</body>
</html>